# .gitignore

# Ignore files and directories
__pycache__/
.env
bot.bat
prompt.bat
testbot.py
user_points.db
restart.flag
bot_started.flag
leaderboard_message_id.txt
watchdog.pid
client_secret.json
restart_channel_id.txt
memory_check.py
data/
test gpt/
state.json
openpilot.wiki
chroma_db
local_vectors/
local_docs/
service_account_key.json
