# .gitignore

# Ignore files and directories
__pycache__/
.venv/
.venv_old/
.vscode/
CommitHistory/
FrogWiki/
test gpt/
config.yaml
elasticsearch-docker.yml
FrogBot.code-workspace
gitcommit.py
user_points_test.db
user_points.db
memory_check.py
chroma_db/
data/
