disnake
duckdb
duckduckgo_search
huggingface-hub
llama-index
llama-index-agent-openai
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-openai
llama-index-tools-duckduckgo
llama-index-vector-stores-duckdb
openai
python-dotenv